{% load static %}
{% include 'course_navbar.html' %}
<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .footer-rw{
    background-color: #2d2f31;
    padding-top: 40px;
   }
   .fot,li,a{
    padding-top: 8px;
    list-style: none;
    color: #fff !important;
   }
   .footer-img{
    position: relative;
    top: 48%;
   }
  </style>
  </head>
  <body>
    <div class="row">
        <div class="add-course-3">
            <h3>Course Structure </h3>
            <hr>
            <form action="" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div>
                {{ form.course_desc }}
              </div>
              <div style="padding-top: 20px;">
                {{ form.syllabus}}
              </div>
              <div style="padding-top:20px">
                {{ form.course_duration }}
              </div>
              <div style="padding-top:20px">
                {{ form.course_fee }}
              </div>
              <div style="padding-top: 20px;">
                <label for="id_course_image" class="form-label">Image</label>
                    {{ form.course_image }}
              </div>
              <div style="padding-top: 20px;">
                <button  class="btn btn-dark">Create Course</button>
              </div>
            </form>
        </div>
    </div>
    <footer class="footer bg-body-tertiary" style="margin-top: 50%;">
      <div class="row footer-rw">
        <hr>
          <div class="col-md-3" style="padding-left: 30px; padding-bottom: 50px;">
            <ul>
              <li><a href="#">Business</a></li>
              <li><a href="#">Teach On Englightify</a></li>
              <li><a href="#">Get The App</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li> 
            </ul>
          </div>
          <div class="col-md-3" style="padding-bottom: 50px;">
            <ul class="fot">
              <li><a href="#">Careers</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Help and Support</a></li>
              <li><a href="#">Affiliate</a></li>
              <li><a href="#">Investors</a></li>
            </ul> 
          </div>
          <div class="col-md-3" style="padding-bottom: 50px;">
            <ul class="fot">
              <li><a href="#">Terms</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Cookie Policy</a></li>
              <li><a href="#">Sitemap</a></li>
              <li><a href="">Accessibility</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <img class="footer-img" src="{% static 'img/logo-transparent-png.png' %}" width="100px" height="100px" alt="">
          </div>
      </div>   
  </footer>

     
    
  </body>
</html>